:root {
    --primary: #F5F3BB;
    --secondary: #86BA90;
    --secondary-400: #86ba90a8;
    --buff: #DFA06E;
    --bistre: #412722;
    --poppy: #DF2935;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poor Story', system-ui;
    background-color: var(--primary);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero-banner {
    flex-grow: 1;
    background-color: var(--primary);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.hero-banner img {
    flex-grow: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-content {
    margin: 3rem;
    padding: 2rem;
    width: calc(100% - 6rem);
    max-width: 448px;
    height: 448px;
    background-color: var(--secondary-400);
    border-radius: .5rem;
    z-index: 2;
    color: var(--bistre);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#age {
    outline: none;
    border-radius: .2rem;
    height: 2rem;
    padding: .3rem;
}

.enter-BTN {
    border-radius: .2rem;
    height: 2rem;
    background-color: var(--buff);
    color: var(--bistre);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.enter-BTN:hover {
    background-color: var(--poppy);
    color: white;
}
